/* Ajout de marges autour du contenu */
.App {
  padding: 40px; /* Ajout d'un padding de 40px autour du contenu */
}

/* Style général pour le tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

thead th {
  background-color: #f3f3f3;
  text-transform: uppercase;
  font-weight: bold;
}

/* Style pour le bouton Supprimer */
button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: darkred;
}

/* Style général pour le formulaire */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

form label {
  font-weight: bold;
}

form input, form select, form button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

/* Style spécifique pour le bouton Ajouter */
form button {
  background-color: #f0f0f0; /* Fond gris clair */
  color: black; /* Texte noir */
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #d3d3d3; /* Gris un peu plus foncé au survol */
}

/* Responsive design pour ajuster le formulaire sur des petits écrans */
@media (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}

/* Responsive design pour les écrans plus petits */
@media (max-width: 768px) {
  .App {
    padding: 20px; /* Réduire le padding sur les petits écrans */
  }

  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    font-size: 0.9rem;
    padding: 8px 10px;
  }

  form input, form select, form button {
    width: 100%; /* Les champs prennent toute la largeur de l'écran */
    margin-bottom: 10px;
  }

  form button {
    width: auto;
    align-self: center;
  }
}
